anonmap
chpax
execbss
execdata
execheap
execstack
getamap
getheap1
getheap2
getmain1
getmain2
getshlib
getstack1
getstack2
mprotanon
mprotbss
mprotdata
mprotheap
mprotshbss
mprotshdata
mprotstack
paxbin
paxtest
paxtest.log
randamap
randheap1
randheap2
randmain1
randmain2
randshlib
randstack1
randstack2
rettofunc1
rettofunc1x
rettofunc2
rettofunc2x
shlibbss
shlibdata
shlibtest.so
shlibtest2.so
writetext
